:root {
	--bg-color: white;
	--font-color: black;
	--accent-gray: rgb(156, 156, 156);
}

@font-face {
	font-family: SourceSans;
	src: url("/font/SourceSans3.ttf");
}

@font-face {
	font-family: SourceSerifPro;
	src: url("/font/SourceSerifPro.otf");
	font-weight: 100 800;
}


body {
	background-color: var(--bg-color);
	color: var(--font-color);
	font-family: SourceSans, Arial, sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 16px 32px;
}

#wrapper {
	display: flex;
	flex-direction: column;
	max-width: 768px;
	border: 5px solid var(--font-color);
	width: min(768px, 90vw);
	min-height: calc(100vh - 42px);
	height: 0;
}

header {
	margin-top: min(32px, 4vw);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

h1 {
	--margin: min(32px, 5cqw);
	--font-size: calc(10vw - 2px);
	font-family: SourceSerifPro;
	font-size: min(4em, var(--font-size));
	font-weight: 620;
	margin: var(--margin);
	margin-bottom: 24px;
	text-wrap: nowrap;
	a {
		color: var(--font-color);
		text-decoration: none;
		font-family: SourceSerifPro;
		padding: 0;
		margin: 0;
	}
	a:hover {
		background-color:transparent;
	}
}

nav, #contact, #projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

hr {
	width: min(112px, 20vw);
	height: 4px;
	border: 0;
	background-color: black;
	margin: 0;
}

.h-list {
	display: flex;
	padding: 0;
	margin: min(18px, 4vw);
	width: min(512px, 100%);
	justify-content: space-evenly;
	li {
		list-style-type: none;
	}
}


header li {
	font-size: min(1.5em, 5.5vw);
}

a {
	color: var(--font-color);
	text-decoration: none;
	font-weight: 600;
	font-family: SourceSerifPro;
	padding: 0 6px;
	margin: 0 -6px;
}

a:hover {
	text-decoration: underline;
	background-color: lightgray;
}

main {
	margin: 24px 10%;
	--font-size: min(0.5vw, 0.3em);
	font-size: calc(1em + var(--font-size));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}


#projects {
	width: 100%;
	max-width: 512px;
	.showcase {
		width: 100%;
		a {
			display: flex;
			justify-content: space-between;
			padding: 1px 4px;
			margin: 0;
			font-size: calc(0.6em + var(--font-size));
			font-family: SourceSans, Arial, sans-serif;
			text-align: end;
		}
		a:hover {
			text-decoration: none;
		}
	}
}


#contact {
	ul {
		display: flex;
		justify-content: center;
		padding: 0;
		margin: 0;
	}
	li {
		list-style-type: none;
	}
	a {
		font-size: calc(0.7em + var(--font-size));
	}
}


#about {
	blockquote {
		font-family: SourceSerifPro, serif;
		font-size: calc(0.7em + var(--font-size));
		p {
			margin-bottom: 8px;
		}
		cite {
			margin-left: 48px;
		}
		cite::before {
			content: "― ";
		}
	}
}
